<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="navbar">
	 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
.zoom {

  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
<title>About Us</title>
</head>
<body >
	<div layout:fragment="pagecontent" style="border: 0;">
		<div class="container" style="border: 0;text-indent:50px;text-align:justify;letter-spacing:3px;">
			
		</div>
		<!-- Footer -->
		<div class="page-footer font-small blue pt-4 mt-4"
			style="background: #2d3246;">
			>

			<!-- Footer Links -->
			<div class="container-fluid text-center text-md-left"
				style="color: #ffffff;">

				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col-md-4 mx-auto">

						<!-- Content -->
						<i style='font-size: 24px' class='fas'>&#xf0f9;</i> <br> <br>

						<a class="text" style="color: #ffffff;">- JRW Agency & Co</a><br>
						<br> <a class="text" style="color: #ffffff;">- RAMINE
							Agency</a><br> <br> <a class="text" style="color: #ffffff;">-
							Health Care At your Desk</a><br> <br>

					</div>
					<!-- Grid column -->

					<hr class="clearfix w-100 d-md-none pb-3">

					<!-- Grid column -->
					<div class="col-md-3 mb-md-0 mb-3">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a class="fas fa-home mr-3"></a> Paris , France / Rabat , Maroc
						</p>
						<p>
							<a class="fas fa-envelope mr-3"></a> syndc8-ofcode@gmail.com
						</p>
						<p>
							<a class="fas fa-phone mr-3"></a> +212 707 11 39 99
						</p>
						<p>
							<a class="fas fa-print mr-3"></a> www.jrwagency.info
						</p>


					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 mb-md-0 mb-3">

						<!-- Links -->
						<h5 class="text-uppercase">About Us</h5>
						<br>

						<ul class="list-unstyled">
							<li><a href="#!">Founder , Ceo </a></li>
							<li><a href="#!">Co-founder</a></li>
							<li><a href="#!">Paris</a></li>
							<li><a href="#!">Rabat - Maroc</a></li>

						</ul>
						<br> <a
							href="https://twitter.com/intent/tweet?screen_name=mohamedamineJr1&ref_src=twsrc%5Etfw"
							class="twitter-mention-button" data-show-count="false">Tweet
							to @mohamedamineJr1</a> <br>
						<script type="IN/Share"
							data-url="https://www.linkedin.com/in/mohamed-amine-flissate-441aa0b9/"></script>
						<script src="https://platform.linkedin.com/in.js"
							type="text/javascript">
							lang: en_US
						</script>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<br>
			<!-- Copyright -->
			<div class="footer-copyright text-center py-3"
				style="color: #ffffff;">
				Junior web Agency© 2020 Copyright: <a href="site offiiel">
					jrwagency.info</a>
			</div>
			<!-- Copyright -->
		</div>
		<!-- Footer -->
	</div>




</body>
</html>
