<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="navbar">
<head>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
<link href="navbar.css" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>ADD doctor</title>
</head>
<body>
	<div layout:fragment="pagecontent">
		<div class="container">
			<div class="card">
				<div class="card-header">Add new Doctor Personnal informations</div>
				<div class="card-body">
					<form th:action="@{saveMedecin}" method="post">
					<div class="form-group">
							<label class="control-label col-md-6">id:</label> <input type="text"
								name="id" th:value="${medecin.id}" />
						</div>
						<div class="form-group">
							<label class="control-label col-md-6">Adresse  :</label> <input type="text"
								name="name" th:value="${medecin.adresse}" />
						</div>
						<div class="form-group">
							<label class="control-label col-md-6">Name :</label> <input type="text"
								name="name" th:value="${medecin.name}" />
						</div>

						<div class="form-group">
							<label class="control-label col-md-6">prenom :</label> <input type="text"
								name="prenom" th:value="${medecin.prenom}">
						</div>
						<div class="form-group">
							<label class="control-label col-md-6">Date de naissance : </label> <input
								type="text" name="datedenaissace"
								th:value="${medecin.datedenaissace}">
						</div>
						<div class="form-group">
							<label class="control-label col-md-6">specialite: </label> <input
								type="text" name="specialite" th:value="${medecin.specialite}">
						</div>
						<div class="form-group">
							<label class="control-label col-md-6">Numero tel : </label> <input
								type="text" name="numero_tel" th:value="${medecin.numero_tel}">
						</div>

						<br>
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Add</button>
							<a type="button" class="btn btn-secondary"
								th:href="@{listmedecin}">Back</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>