<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="navbar">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://platform.twitter.com/widgets.js' charset="utf-8"></script>
<style>
.zoom {
	transition: transform .2s; /* Animation */
}

.zoom:hover {
	transform: scale(1.2);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
<title>Lean More</title>
</head>
<body>
	<div layout:fragment="pagecontent">
		<div class="container">
			<div class="card">

				<div class="card-body">
					<br> <br>
					<div class="card-body"
						style="border: 0; text-indent: 50px; text-align: center; letter-spacing: 3px;">
						<div class="alert alert-success" role="alert">you'r message
							have been succesfully sent to your doctor , you can find all your
							messages in your inbox</div>
						<img src="images/check.gif"> <br> <br>	<p>your doctor will call you soon .</p><br> <br> <br> <br>
						<h3>thank you for using HCAYD . if you'r not a member please
							create you'r Account</h3>
						<br>
					<!-- 	<div id="animation" class="fa"
							style="font-size: 100px; color: green;"></div>  -->
					<a href="/Authentification">clique here</a>
						<br> <br> <br> <br> <br>
						<div class="card-group">
							<div class="card border-secondary mb-3" style="max-width: 18rem;">
								<div class="card-header">
									<svg width="1em" height="1em" viewBox="0 0 16 16"
										class="bi bi-envelope-open-fill" fill="currentColor"
										xmlns="http://www.w3.org/2000/svg">
  <path
											d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z" />
</svg>
									Adresse
								</div>
								<div class="card-body text-secondary">
									<h5 class="card-title">Adresse postale</h5>
									<p class="card-text">
										- Rue America L'ocean <br> Rabat , Maroc <br> -
										Boulogne billencourt <br> Paris , France
									</p>
								</div>
							</div>
							<div class="card border-secondary mb-3" style="max-width: 18rem;">
								<div class="card-header">
									Email
									<svg width="1em" height="1em" viewBox="0 0 16 16"
										class="bi bi-chat-square-dots-fill" fill="currentColor"
										xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
											d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
</svg>
								</div>
								<div class="card-body text-secondary">
									<h5 class="card-title">Pour envoyer un mail</h5>
									<p class="card-text">syndc8-ofcode@gmail.com.</p>
									<br> Send us your query anytime!
								</div>
							</div>
							<div class="card border-secondary mb-3" style="max-width: 18rem;">
								<div class="card-header">
									<svg width="1em" height="1em" viewBox="0 0 16 16"
										class="bi bi-telephone-fill" fill="currentColor"
										xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
											d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
</svg>
									Phone Number
								</div>
								<div class="card-body text-secondary">
									<h5 class="card-title">Par Telephone</h5>
									<p class="card-text">
										+212 707 11 39 99. <br> +212 537 60 95 00 <br> Mon
										to Fri 9am to 6pm
									</p>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- Footer -->
		<div class="page-footer font-small blue pt-4 mt-4"
			style="background: #2d3246;">

			<!-- Footer Links -->
			<div class="container-fluid text-center text-md-left"
				style="color: #ffffff;">

				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col-md-4 mx-auto">

						<!-- Content -->
						<i style='font-size: 24px' class='fas'>&#xf0f9;</i> <br> <br>

						<a class="text" style="color: #ffffff;">- JRW Agency & Co</a><br>
						<br> <a class="text" style="color: #ffffff;">- RAMINE
							Agency</a><br> <br> <a class="text" style="color: #ffffff;">-
							Health Care At your Desk</a><br> <br>

					</div>
					<!-- Grid column -->

					<hr class="clearfix w-100 d-md-none pb-3">

					<!-- Grid column -->
					<div class="col-md-3 mb-md-0 mb-3">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a class="fas fa-home mr-3"></a> Paris , France / Rabat , Maroc
						</p>
						<p>
							<a class="fas fa-envelope mr-3"></a> syndc8-ofcode@gmail.com
						</p>
						<p>
							<a class="fas fa-phone mr-3"></a> +212 707 11 39 99
						</p>
						<p>
							<a class="fas fa-print mr-3"></a> www.jrwagency.info
						</p>


					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 mb-md-0 mb-3">

						<!-- Links -->
						<h5 class="text-uppercase">About Us</h5>
						<br>

						<ul class="list-unstyled">
							<li><a href="#!">Founder , Ceo </a></li>
							<li><a href="#!">Co-founder</a></li>
							<li><a href="#!">Paris</a></li>
							<li><a href="#!">Rabat - Maroc</a></li>

						</ul>
						<br> <a
							href="https://twitter.com/intent/tweet?screen_name=mohamedamineJr1&ref_src=twsrc%5Etfw"
							class="twitter-mention-button" data-show-count="false">Tweet
							to @mohamedamineJr1</a> <br>
						<script type="IN/Share"
							data-url="https://www.linkedin.com/in/mohamed-amine-flissate-441aa0b9/"></script>
						<script src="https://platform.linkedin.com/in.js"
							type="text/javascript">
							lang: en_US
						</script>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<br>
			<!-- Copyright -->
			<div class="footer-copyright text-center py-3"
				style="color: #ffffff;">
				Junior web Agency© 2020 Copyright: <a href="site offiiel">
					jrwagency.info</a>
			</div>
			<!-- Copyright -->
		</div>
		<!-- Footer -->

		<script>
			function messageSent() {
				var a;
				a = document.getElementById("animation");
				a.innerHTML = "&#xf2b6;";
				setTimeout(function() {
					a.innerHTML = "&#xf0e0;";
				}, 1000);
			}
			messageSent();
			setInterval(messageSent, 2000);
		</script>
	</div>
</body>
</html>