<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="navbar">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
<meta charset="ISO-8859-1">
<title>Dentition</title>
</head>
<body>
	<div layout:fragment="pagecontent">
		<div class="container justify-content-center">
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-pills card-header-pills">
						<li class="nav-item">
						<a class ="nav-link "aria-disabled="true" 
						 th:href="@{listpatients}">informations Personnelles</a></li>
						<li class="nav-item">
						<a class="nav-link " aria-disabled="true" th:href="@{ficheTechnique}">Fiche Technique</a></li>
						<li class="nav-item"><a class="nav-link active" href="#"tabindex="-1" >Dentition</a></li>
					</ul>
				</div>
				
				<div class="card-deck">
						<div class="card">
							<img alt="dentition" src="images/dents.jpg" width="400" height="535">
							<div class="card-body">
								<h4 class="card-title">TTT</h4>
								<p class="card-text">Schema interactif permet de selectionner la dent traiter par le medecin
								 avoir les infrmations saisies</p>
							</div>
					 			  
				     <div class="form-group">
                     <input type="file" class="form-control-file" id="fichier">
                     	<a type="button" class="btn btn-secondary"th:href="@{listpatients}">Back</a>
                 </div>
					
					
					</div> <br>
					
					
				</div>
			</div>
		</div>
			</div>
</body>
</html>