<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


Entity

facture numero nom expediteur adresse facturation date facture , laboratory ;commentaire facture 

laboratory : ((id nom adresse num tel )) 

commade (numero commande  dte commande list produits , montant facture ;)

produit ( num produit , designtion , prix unitiare , quantité ; commentaire)


Panier mothode 

declaraton d'une map de ligne de commande , items = new hashmap(log , lignecommande )


methode add article public void ( produit p int quandtite )

methode collection de list darticle 

methode double pour avoir le total du prix payé
 
 methode supprimer article du panier 
pblic void deletitel(long iddproduit)
items.remove


etapes a suivre :
 
ajouter produit ( beaucoupd e poduit)
afficher les produits dans la boutiques ( avec les images )
choisir produit dans boutique 


produit / boutique / panier 
ajouter image dans bDD
list produit boutiques , 
selectionner produit (id name price esignation )
enregistrer le produit selectioner dans le panier
continuer les achats 
selectionner un autre article 
enregistrer dans la boutiques 
afficher le panier avec les enregistrements
supprimer produit du pannier 
modifier quantier 
calcule montant produit choisis 
valider commnde
afficher commande 



    @Transactional
    public void save(ProductForm productForm) {
 
        String code = productForm.getCode();
 
        Product product = null;
 
            product = this.findProduct(code);
            product = new Product();
            product.setCreateDate(new Date());
        product.setCode(code);
        product.setName(productForm.getName());
        product.setPrice(productForm.getPrice());
 
            byte[] image = null;
                image = productForm.getFileData().getBytes();
                product.setImage(image);
                
                
            session.persist(product);
        session.flush();
    }







</body>
</html>