<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="navbar">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="Acceuil.css">
<meta charset="ISO-8859-1">
<title>Page D'acceuil</title>
</head>
<body>
	<div layout:fragment="pagecontent">
	   <div class="container">
<div class="jumbotron big-banner" style="background-image: url(images/bg-banner.jpg); background-size: 100%;">
  <h1 class="display-4">Health Care ,At your Desk</h1>
  <p class="lead">This is a simple and creative web application, using in managing a hospitals effectives and patients.</p>
  <hr class="my-4">
  <p>Designed by M.A.F juniorr Agency. all rights reserved .</p>
  
  <button type="button" class="btn btn-info">Learn More</button>
</div>
      </div>
 
</div>




</body>
</html>
	