<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Main layout</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->

</head>
<body>

		<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="height: 111px; font-family:Andale Mono, monospace ">
  <a class="fas fa-clinic-medical waves-light" style="font-size: 60px; color: red ; margin-right: 40px;"
			href="index"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav ml-auto nav-flex-icons" style="margin-right:40px;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="login">SendBox</a>
          <a class="dropdown-item" href="logout">Messages</a>
          <a class="dropdown-item" href="Authentification">Appoitments</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="login">Login</a>
          <a class="dropdown-item" href="logout">Logout</a>
          <a class="dropdown-item" href="Authentification">Insciption</a>
        </div>
      </li>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-heartbeat"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="hospitalManagement">Hospital management</a>
          <a class="dropdown-item" href="Authentification">Laboratory</a>
        </div>
      </li>
    </ul>
</nav>
<!--/.Navbar -->

	<div class="alert alert-danger" role="alert" style="padding-top: 110px;margin-bottom:0px ; text-align: center;font-family:Andale Mono, monospace">This is a beta
		version 2.0, and has nothing to do with the final version . Developped
		by Syndic8 Of code . All rights reserved . 2020.</div>

	
	<section layout:fragment="pagecontent">

	</section>
	
</body>
</html>


